---

- user:
    name: kyle
    shell: /bin/bash

- authorized_key:
    user: kyle
    key: https://github.com/kyleparisi.keys

- lineinfile:
    dest: /etc/sudoers.d/kyle
    create: yes
    line: 'kyle ALL=(ALL) NOPASSWD:ALL'

- lineinfile:
    dest: /etc/ssh/sshd_config
    create: no
    line: 'AcceptEnv AWS_*'

- name: test ssd
  shell: sshd -t
  notify:
    - sshd reload
